domain {{ network_interfaces_dns_domain }}
search {{ network_interfaces_dns_search | join(" ")}}
{% for server in dns_nameserver %}
nameserver {{ server }}
{% endfor %}
options {{ dns_options | join(" ") }}
