{{ ansible_managed | comment }}

VLAN=yes
DEVICE={{ interface.logicalname }}.{{ interface.vlanid }}
NAME="{{ interface.logicalname }}.{{ interface.vlanid }}"
TYPE=Ethernet
ONBOOT=yes
BOOTPROTO=static
{% for ip in interface.ipv4 %}
{% if loop.index == 1 %}
IPADDR={{ ip.address }}
PREFIX={{ ip.cidr }}
{% else %}
IPADDR{{ loop.index }}={{ ip.address }}
PREFIX{{ loop.index }}={{ ip.cidr }}
{% endif %}
{% endfor %}
MTU={{ interface.mtu | default(1500) }}
ETHTOOL_OPTIONS="{{ interface.ethtool_options | default([]) | join(' ') }}"
IPV4_FAILURE_FATAL=yes
IPV6INIT=no
