{{ ansible_managed | comment }}

VLAN=yes
DEVICE={{ device.logicalname }}.{{ device.vlanid }}
NAME="{{ device.logicalname }}.{{ device.vlanid }}"
TYPE=Ethernet
ONBOOT=yes
NM_CONTROLLED=no
BOOTPROTO=static
HWADDR={{ device.macaddress }}
{% for ip in device.ipv4 %}
{% if loop.index == 1 %}
IPADDR={{ ip.ipaddr }}
PREFIX={{ ip.cidr }}
{% else %}
IPADDR{{ loop.index }}={{ ip.ipaddr }}
PREFIX{{ loop.index }}={{ ip.cidr  }}
{% endif %}
{% endfor %}
IPV4_FAILURE_FATAL=yes
IPV6INIT=no
