{{ ansible_managed | comment }}
{% for nic in nics %}
{% if nic.macaddress is defined
      or extract_mac_by_ip[nic.ipv4.ipaddr] is defined %}
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{address}=="{{ nic.macaddress | default(extract_mac_by_ip[nic.ipv4[1].ipaddr]) }}", ATTR{dev_id}=="0x0", ATTR{type}=="1", KERNEL=="eth*", NAME="{{ nic.logicalname }}"
{% endif %}
{% endfor %}
