{{ ansible_managed | comment }}

{% for nic in network_interfaces %}
{% if nic.macaddress is defined
      or network_interfaces_ip_mac_map[nic.ipv4.address] is defined %}
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{address}=="{{ nic.macaddress | default(network_interfaces_ip_mac_map[nic.ipv4.0.address]) }}", ATTR{dev_id}=="0x0", ATTR{type}=="1", KERNEL=="eth*", NAME="{{ nic.logicalname }}"
{% endif %}
{% endfor %}
