{% set ns = namespace(found=false) %}
{% for interface in ansible_facts.interfaces %}
{% if  ansible_facts[interface] is defined
       and ansible_facts[interface].ipv4 is defined
       and ansible_facts[interface].ipv4.address is defined
       and ansible_facts[interface].macaddress is defined %}

{% set ns.found = true %}
{{ ansible_facts[interface].ipv4.address }}: {{ ansible_facts[interface].macaddress }}
{% endif %}
{% endfor %}

{% if not ns.found %}
{}
{% endif %}
