{{ ansible_managed | comment }}

{% for route in interface.routes %}
{{ route.net }} via {{ route.gateway }}
{% endfor %}

{% if interface.route_multicast | default(false) %}
239.0.0.0/8 dev {{ interface.logicalname }}
{% endif %}
