{{ ansible_managed | comment }}

NETWORKING=yes
HOSTNAME={{ network_interfaces_hostname }}
{% if network_interfaces_ipv6 %}
IPV6_INIT=yes
{% else %}
IPV6_INIT=no
{% endif %}
GATEWAY={{ network_interfaces_gateway }}
